Base:
  Z_DIM: 256
  W_DIM: 256
  IN_CHANNELS: 256
  IMG_CHANNELS: 1
  decoder_lat_dim: 712
  decoder_hidden_dim: 1024
  decoder_nlayers: 8
  decoder_out_dim: 1

Discriminator:
  IN_CHANNELS: 256
  IMG_CHANNELS: 1

Decoder:

Training:
  batch_size: 1
  num_epochs: 3000
  vis_interval: 50
  data_dir: dataset/2D_Datasets
  n_sample: 100000
  LR_D: 0.001
  LR_LAT: 0.001
  ckpt_interval: 500
  lr_decay_interval_lat: 500
  lr_decay_factor_lat: 0.8
  START_TRAIN_AT_IMG_SIZE: 8
  save_result: results/cvpr/base
  test_result: results/baseshape
  checkpoint_path: checkpoints/cvpr
  save_name: base_deformleaf


  lambdas:
    loss_mse: 1.0
    lat_reg: 0.001
    loss_mask: 1

Deform:
  decoder_lat_dim: 712
  decoder_hidden_dim: 1024
  decoder_nlayers: 8
  decoder_out_dim: 3
