[submodule "submodule"]
	path = submodule
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "submodule/stablediffusion"]
	path = submodule/stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "submodule/controlnet"]
	path = submodule/controlnet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "submodule/Palette"]
	path = submodule/Palette
	url = https://github.com/Janspiry/Palette-Image-to-Image-Diffusion-Models.git
[submodule "submodule/pixel2pixel"]
	path = submodule/pixel2pixel
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix.git
[submodule "submodule/SITTA"]
	path = submodule/SITTA
	url = https://github.com/Boyiliee/SITTA.git
[submodule "submodule/santa"]
	path = submodule/santa
	url = https://github.com/Mid-Push/santa.git
